body{
    background-color:cornsilk
}
.AllFruits{
    width: 80%;
    height: 100%;
}
.AllFruits .fruit{
    display: inline-block;
    width: 20%;
    height: 20%;
    margin: 2%;
    border-radius: 5%;
    background-color: aliceblue;
}

.add{
    background-color: cornflowerblue;
    border-radius: 5%;
    width: 100%;
    height: 50%;
}
.add {
    font-size: 18px;
}
.add :hover{
    background-color: crimson;
    transition: background-color 2s;

}
.fruit img{
    height: 60%;
    width: 100%;
}
.price p{
    font-weight: bold;
}
.price button:hover{
    transition: 2s;
    background-color: greenyellow;
}
.price button{
    border-width: 0px;
    width: 100%;
    background-color: skyblue;
}
@media screen  and (max-width: 800px){
    .AllFruits .fruit{
        width: 40%;
        height: 40%;
    }
}
